@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
/* ==========================================================================
Typography
========================================================================== */
p {font-family: 'Playfair Display', serif;
  font-size: 15px;
  line-height: 29px;
  color:rgb(1 34 2 / 95%);
  padding-bottom: 20px;    letter-spacing: 0.1rem; }

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 60px; }

h2 {
  font-size: 40px;
  font-weight: 300;
  color: #003318; }

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #003318; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 15px;font-family: 'Playfair Display', serif;
  color: #003318;
  text-transform: uppercase;
  font-weight: 500; }

.btn {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase; }

.btn:hover, .btn:focus {
  color: #fff;
  border-color: #FF5274;
  background-color: #FF5274; }

.btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  border-color: #fff; }

.btn-white:hover, .btn-white:focus {
  color: #FF5274;
  border-color: #FF5274; }
    .btn:hover, .btn:focus {
  color: #fff;
    border-color: #63d100;
    background-color: #63d100; }

.btn-fill {
  color: #fff;
  border: solid 2px #FF5274;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #FF5274; }

.btn-fill:hover, .btn-fill:focus {
  color: #fff;
  background-color: #D7405D;
  border-color: #D7405D; }

.btn-small {
  padding: 8px 40px; }

.btn-large {
  padding: 15px 40px; }

.btn-margin-right {
  margin-right: 20px; }

section.intro, section.features-extra, section.sign-up {
  background: #fff; }

section.features, section.blog-intro, section.blog {
  background: #F3F4F8; }

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

a {
  color: #FF5274;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

a:hover, a:focus {
  color: #D7405D;
  text-decoration: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgba(28, 54, 83, 0.6);
  -webkit-text-size-adjust: 100%; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section-padding {
  padding: 120px 0; }
  .pb120 {
  padding-bottom: 120px; }
  .pt80 {
  padding-top: 80px; }
   .pt40 {
  padding-top: 40px; }
  .bg-dark {
    background: #e7fff247 !important;
  }
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0; }

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9; }

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px; }

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px; }

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px; }

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px; }

/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  -webkit-animation-name: pulse2;
          animation-name: pulse2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.floating-arrow {
  -webkit-animation-name: floating-arrow;
          animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
.floating-logo {
  -webkit-animation-name: floating-logo;
          animation-name: floating-logo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
  visibility: hidden; }

.wp2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible; }

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer; }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 100vh;
  
  background-size: cover;
  position: relative; overflow: hidden;}
 .hero.innerpages {
    min-height: 130px;
    background-color: #003318;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.imgboxc {
    width: 100%;
    height: auto;
    padding: 15px;
    border: 1px solid rgb(202 202 202 / 46%);
}
.imgboxc img {
 height: 600px;
    object-fit: contain;
    object-position: center;
    width: 100%;
}
.prductdetail h2 {
    font-family: 'Playfair Display', serif;
    font-size:44px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 18px;
    color: #63d100;
    line-height: 32px;
    margin-left: -5px;
}
.prductdetail h2.bigtitle {
      font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 18px;
    color: #63d100;
    line-height: 38px;
    margin-left: -5px;
}
.prductdetail h6 {
   font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-bottom: 24px;
    color: #104012;
    font-family: "Open Sans", sans-serif;
}
.sociallinkshare svg path {
  fill:  #63d100;
}
.smalltext {
        font-size: 18px;
    color: #003318;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 2px;
}
.prductdetail {
    width: 100%;
    display: inline-block;
    float: left;
    padding-left: 20px;
}
.prductdetail h5 {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #6e6e6e;
    text-transform: none;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;

}
ul.sociallinkshare {
  width: 100%;
  display: inline-block;
}
ul.sociallinkshare li {
  list-style: none;display: inline-block;
  float: left;
  margin:10px;
}
ul.sociallinkshare li a {
    border: 1px solid #cacaca;
    width: 45px;
    float: left;
    text-align: center;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
}
ul.sociallinkshare li.first {
      margin-left: 0px;
    line-height: 40px;
    font-size: 20px;
    width: 100%;
    margin-bottom: -6px;
}
ul.sociallinkshare li.fbo{
     margin-left: 0px; 
}
.enquirybox a.whtsaapp {
      background: #003318;
    padding: 0 20px;
    float: left;
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 14px;
    border-radius: 6px;
}
.enquirybox a.call {
      background: #003318;
    padding: 0 20px;
    float: left;
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 14px;
    border-radius: 6px;
}
.enquirybox a svg {
      margin-top: 0px;
    margin-bottom: -4px;
    margin-right: 6px;
    margin-left: -5px;
}
 
.prductdetail h3 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #63d100;
    font-weight: 700;
}
.prductdetail h4 {
    font-size: 14px;
    color: red;
    margin-top: -12px;
}
.productsmoredetial {
    padding: 80px 0 150px;
    width: 100%;
    display: inline-block;
}
  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #fff;
    margin-bottom: 40px; }
  .hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .hero .hero-content {
    padding-top: 26%; }
.herobg {
  animation: grow 120s linear forwards;
  opacity: 1;background: url("../img/824276.jpg") center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;bottom: 0;
  width: auto;height: auto;background-size: cover;animation-iteration-count: infinite;
    z-index: -1;
}
.herobgab {
  animation: grow 120s linear forwards;
  opacity: 1;background: url("../img/aboutusimg.jpg") center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;bottom: 0;
  width: auto;height: auto;background-size: cover;animation-iteration-count: infinite;
    z-index: -1;
}
.innerpagebg {
  background: rgb(66 103 0 / 24%);
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.5);
  }
  
   100% {
    transform: scale(1);
  }
}
.sldrbox {
      width: 100%;
    display: inline-block;
    text-align: center;
    height: 100vh;
    float: left;
    position: relative;

}
.imgboc  img {
  width: 100%;

}
.contactuspage { text-align:center;  }
.contactuspage p {
      font-family: "Open Sans", sans-serif;
    padding-bottom: 0;
    margin-bottom: 10px;
    font-size: 28px;
    margin-top: 130px;
}
.contactuspage h3 {
  margin-top: 60px
}
.contactuspage h5 {
      font-family: "Open Sans", sans-serif;
    padding-bottom: 0;
    margin-bottom: 10px;
    font-size: 28px;
    margin-top: 20px;
    text-transform: none;
}
.contactuspage h2 {font-family: 'Playfair Display', serif;}
.innerpg .sldrbox {
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 40vh;
    float: left;
    position: relative;
}
.innerpg .sldrbox h1 {
  font-family: 'Playfair Display', serif;
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  bottom:5.5vh;
  text-align:center;
  font-size:4vw;text-shadow: 1px 1px 29px rgba(0, 0, 0, 0.2);
  color: #000
}
.innerpg.hero {
    min-height: 50vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.sldrbox h1 {
  font-family: 'Playfair Display', serif;
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  bottom:5.5vh;
  text-align:center;
  font-size: 6vw;text-shadow: 1px 1px 29px rgba(0, 0, 0, 0.2);
}
.fullingr {
                 width: 100%;
    display: block;
    max-width: 1380px;
    text-align: center;
    margin: auto;
    height: auto;
    overflow: auto;
    padding-bottom: 15px;
}
.ingredintintop {
    position: relative;
    display: inline-block;
    width: 20%;
    float: none;
    margin: 15px 2%;
    text-align: center;
    height: 280px;
    margin-bottom: 150px;
    margin-top: 80px;
    border-radius: 20px;    padding-top: 20px;
}

.bg-darkb {
  background-color:  #e1f3db !important;
}
.bg-darkbm {
  background-color:  #f3dbdb !important;
}
.bg-darkbmg {
  background-color:  #f3f0db !important;
}
.bg-bodywash {
  background-color: #dbedf3 !important;
}
.bg-other{
  background-color: #e2dbf3 !important;
}
.bg-white {
  background: #ffffff !important;
}
.threebox {
    width: 23%;
    float: none;
    display: inline-block;
    position: relative;
    height: auto;
    background-color: #fff;
    border-radius: 12px;
    margin: 1%;
    padding: 0px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.recent .threebox {
    width: 22%;}
.threebox:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 70px 8px rgba(0,0,0,.32);
    -moz-box-shadow: 0 0 70px 8px rgba(0,0,0,.32);
    box-shadow: 0 10px 20px 1px rgba(0,0,0,.1);
}
.threebox:hover .btnstyle  {
    background: #003318;
    width: 100%;
    color: #fff;
}
.pb0{
  padding-bottom: 0px !important
}
.imgbox {
        

}
.facewash .imgbox {
     
}
.shampoo .imgbox {
    
}
.soapimg {
width: 100%;


}
.textbox {
padding: 5px 25px;
}
.productnames {
text-align: left;
    font-size: 18px;
    line-height: 40px;position: relative;
    z-index: 99;
    margin-bottom: 0px;
}
.btnbox {
width: 100%;
max-width: 200px;
    float: left;
    position: relative;
    z-index: 99;
    padding: 5px 25px;
}
.pd10 {
  display: inline-block;
  width: 100%;
  height: 40px;float: left;

}
.btnstyle {
display: inline-block;
    padding: 10px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
     
    border-radius: 164px;
   
    text-transform: uppercase;
     background: #fff;
    width: 100%;
    color: #003318;
    border: 1px solid #003318;
}
.btnstyle:hover {
   background: #003318;
    width: 100%;
    color: #fff;
}
.bigname {
     font-family: 'Playfair Display', serif;
    color: #003318;
    font-size: 30px;
    font-weight: 800;    letter-spacing: 1px;
}
.poimg {
width: 100%;
    max-width: 310px;
    margin-top: 65px;

  
}
.orgco {
      background: #fcd8b6;
      background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,216,182,1) 100%);
    
}
.orgco h3 {
  color: #ce6800;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  
}
 

.charcoalg {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
}
.charcoalg h3 {
  color:rgb(68, 70, 76);
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  
  
}
 
.blueberryg {
 background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(189,215,255,1) 100%);
}
.blueberryg h3 {
  color:rgb(28 79 173);
  font-family: 'Playfair Display', serif;
  font-size: 48px;
   
}
 
.saffrong {
 background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,189,255,1) 100%);
}
.saffrong h3 {
  color:rgb(178 36 231);
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  
}
 
.roseg {
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,197,203,1) 100%);
}
.roseg h3 {
  color:rgb(173 28 28);
  font-family: 'Playfair Display', serif;
  font-size: 48px;
   
}
.pineple {
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,216,95,1) 100%);
}
.pineple h3 {
  color: rgb(80 67 0);
    font-family: 'Playfair Display', serif;
    font-size: 48px;
   
}
.cherry {
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,197,203,1) 100%);
}
.cherry h3 {
  color:rgb(173 28 28);
  font-family: 'Playfair Display', serif;
  font-size: 48px;
   
}

 
.womenimage {
    width: auto;
    height: 100%;
    padding-top: 120px;
    
}
.left-levs {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    height: 100%;
}
.right-levs {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}
.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: #003318;
  z-index: 999;
  width: 100%; }
.fullnamebox {
width: 100%;
display: inline-block;
margin: 15px;
float: left;
text-align:center; 

}
.fullnamebox h2 {
font-family: 'Playfair Display', serif;
    color: #003318;
    font-size: 48px;
}
.fullnamebox h3 {
font-family: 'Noto Sans JP', sans-serif;
    color: #9f9f9f;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 -10px;
}
.roundanimation {
     position: relative;
    overflow: hidden;
    width: 620px;
    height: 620px;
    margin: auto;
     margin-top: 35px;
    
}
.middlelogo {
 position: absolute;
    width: 300px;
    height: auto;
    top: 200px;
    bottom: 0;
    z-index: 99;
    left: 158px;

}
.roundedimages {
  -webkit-animation: loading 60s infinite linear;
  animation: loading 60s infinite linear;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 620px;
  height: auto;

}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.aboutdetailbox h5 {
 display: block;
    text-align: center;
    width: 100%;
    max-width: 828px;
    margin: auto;
    margin-top: 35px;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: none;
    color: rgb(1 34 2 / 95%);
    text-transform: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}
header {
  padding: 50px 0 30px;
  
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block;
    max-width: 130px;
    margin-top: -40px; }
    header .logo img {
      width: 100%;
    }
  header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0;    
      }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: #fff;
        padding-right: 15px; }
        header ul.primary-nav li a:hover {
          color: #fff; }
      
  header ul.member-actions li {
    display: inline; }
    header ul.member-actions li a {
      color: #fff; }
      header ul.member-actions li a:hover {
        color: #FF5274; }
  header .header-nav {
    display: inline-block; }
  header .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/* ==========================================================================
Intro
========================================================================== */
.intro span.icon {
  font-size: 40px;
  color: #FF5274;
  font-weight: bold; }

.intro-icon {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 0 0;
  margin-right: 20px;
  width: 40px; }

.intro-content {
  display: inline-block;
  width: 80%; }

/* ==========================================================================
Features-stack
========================================================================== */
.features {
  position: relative;overflow: hidden; }
  .features p {
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
    color: #000000;}
  .features h3 {
    margin: 0 0 20px 0;    color: #003318; 
    font-size: 7rem;    font-family: 'Playfair Display', serif;
  }
  .features span.icon {
    font-size: 35px;
    color: #FF5274;
    font-weight: bold; }
  .features .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 35px; }
    .features .feature-icon img {
width: 100%;
    }
  .features .feature-content {
    display: inline-block;
    width: 75%; }
  .features .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px; }
  .features .intro-content {
    display: inline-block;
    width: 80%; }
  .features ul.features-stack {
    margin-top: 50px; }
  .features ul.features-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA; }
  .features ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none; }
  .features .ipad-wrap {
    width:900px;
    height: auto;
    
    z-index: 1;
    background-size:contain;  }
  .features .iphone-wrap {
    width: 304px;
    height: 620px;
     
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2; 
    background-size:contain; }
  .features .device-showcase {
  position: absolute;
    bottom: 0px;
    right: 50%; }

.features .responsive-feature-img, .features-extra .responsive-feature-img {
  display: none; }
  .features h5 {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    color: #63d100;
    text-transform: uppercase;
    font-weight: 500;
  }

.devices {
  position: relative; }

/* ==========================================================================
.features-extra
========================================================================== */
.features-extra {
  position: relative;
  z-index: 3; }
  .features-extra .btn {
    margin-top: 20px; }
  .features-extra .macbook-wrap {
    position: absolute;
    width: 916px;
    height: 540px;
    background: url(../img/baturaloil.png) no-repeat center center;
    top: 0px;
    z-index: 4;
    left: 40%;
    background-size: contain;
}

.feature-list h3 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #003318;font-family: 'Playfair Display', serif;
}

.feature-list p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 29px;
    color: rgb(1 34 2 / 95%);
    padding-bottom: 20px;
    letter-spacing: 0.1rem;
}
.inabut{
  padding-top: 130px;
    margin-top: 90px;
}
.mb20 {
  margin-bottom: 40px;
}
.mapin img {
  width: 100%;
}
.contact-page {
padding-top: 150px;
}
.contact-page .contact-form .contact-form-page .contact-form .contact-submit input {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 35px;
    border-radius: 0;
    border: none;
    background-color: #003318;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    letter-spacing: .2em;
    font-weight: 600;
}
.contact-form input, .contact-form textarea {
    border-radius: 0;
    border: 1px solid #ebebeb;
    width: 100%;
    background-color: transparent;
    padding: 15px;
    padding-left: 25px;
}

/* ==========================================================================
.hero-strip
========================================================================== */
.hero-strip {
  margin-top: 120px;
  background: #333844 url("../img/polygonal-bg.jpg") no-repeat center center;
  padding-bottom: 190px;
  position: relative; }
  .hero-strip i {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal; }
  .hero-strip h2 {
    color: #fff;
    margin: 0 0 20px 0; }
  .hero-strip p {
    color: #ACB1B4; }
  .hero-strip .btn {
    margin-top: 10px; }
  .hero-strip .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

/* ==========================================================================
.blog-intro
========================================================================== */
.blog-intro {
  padding-top: 160px; }
  .blog-intro h3 {
    margin-bottom: 70px; }
  .blog-intro .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA; }
  .blog-intro .rightcol {
    padding-left: 100px; }

/* ==========================================================================
.blog
========================================================================== */
.blog {
  padding-bottom: 120px; }
  .blog img {
    width: 100%;
    height: auto;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .blog h2 {
    font-size: 11px;
    color: #ACB1B4;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 35px; }
  .blog .btn {
    margin-top: 20px; }
  .blog .blog-img-wrap {
    position: relative;
    overflow: hidden; }
    .blog .blog-img-wrap .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0; }
    .blog .blog-img-wrap i {
      color: #fff;
      font-size: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 25px;
      right: 35px; }
  .blog .blog-img-wrap:hover img, .blog .blog-img-wrap:focus img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .blog .blog-img-wrap:hover .overlay, .blog .blog-img-wrap:focus .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    z-index: 9; }
  .blog figcaption i {
    margin-left: 5px;
    font-size: 15px; }
  .blog figcaption a.blog-post-title {
    color: rgba(28, 54, 83, 0.6); }
  .blog figcaption a.blog-post-title:hover, .blog figcaption a.blog-post-title:focus {
    color: #003318; }

/* ==========================================================================
.testimonial-slider
========================================================================== */
.testimonial-slider {
  background: url("../img/testimonials-bg.jpg") no-repeat center center;
  background-size: cover; }
  .testimonial-slider .avatar {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff; }
    .testimonial-slider .avatar img {
      width: 82px;
      height: auto; }
  .testimonial-slider h2 {
        color: #fff;
    font-size: 52px;
    font-weight: 300;
    font-style: italic;
    margin: 30px 0;
    font-style: normal; }
  .testimonial-slider p {
        color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px; }

/* ==========================================================================
Sign up form
========================================================================== */
.sign-up .signup-form .sign-up-btn {
  padding: 15px 0;
  border-radius: 3px;
  width: 80%;
  font-size: 13px; }
.sign-up .signup-form .form-input-group {
  width: 80%;
  height: 55px;
  margin: 0 auto 10px;
  border-radius: 5px;
  border: solid 1px #E6E9EA;
  text-align: left;
  position: relative; }
  .sign-up .signup-form .form-input-group i {
    color: #55b205;
    font-size: 14px;
}
  .sign-up .signup-form .form-input-group i:after {
    content: "";
    height: 30px;
    width: 1px;
    border-right: solid 1px #E6E9EA;
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .sign-up .signup-form .form-input-group i.fa-lock {
    font-size: 18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 20px; }
  .sign-up .signup-form .form-input-group i.fa-envelope, .sign-up .signup-form .form-input-group i.fa-user, .sign-up .signup-form .form-input-group i.fa-phone {
    font-size: 14px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 20px; }
  .sign-up .signup-form .form-input-group input {
    padding-left: 68px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none; }
    .sign-up .signup-form .form-input-group textarea {
    padding-left: 68px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none; }
  .sign-up .signup-form .form-input-group input::-webkit-input-placeholder {
    color: #BCC1C3; }
  .sign-up .signup-form .form-input-group input:-moz-placeholder {
    color: #BCC1C3; }
  .sign-up .signup-form .form-input-group input::-moz-placeholder {
    color: #BCC1C3; }
  .sign-up .signup-form .form-input-group input:-ms-input-placeholder {
    color: #BCC1C3; }

/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 60px;
    background-color: #ffffff; }
  .to-top .to-top-wrap {
       height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center;
    background: #63d100; }
    .to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
    .to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); }
    .to-top .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; }
  .to-top .row {
    position: relative; }

.instasection {
 
}
.instasection h2 {
  font-family: 'Playfair Display', serif;
}
.instasection p {
  font-family: "Open Sans", sans-serif;
}
.pb60 {
  padding-bottom: 60px;
}
.instapost {
    width: 100%;
    display: inline-block;
    line-height: 0;
    margin-bottom: -5px;
}
.instabutton {
      padding: 16px 45px;
    background: #031b0e;
    font-size: 32px;
    color: #55b205;
}
.instapost ul li  {
  float: left;
  list-style: none;
  display: inline-block;
  width: 16.665%;
}
.instapost ul li img {
  width:100%; 
}
.wepr {
  width: 100%;
  height: auto;
  
  display: inline-block;
  float: left;
  padding: 10px 0;
}
.weprbox {
 width:100%;
  height: auto;
  
  display: inline-block;
  float: left;
      margin: 5px 0;  
}
.weight {
          background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #63d100;
    margin-right: 20px;
    font-weight: 700;
    color: #003318;
    letter-spacing: 0.5px;
    display: inline-block;
}
.price {
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #63d100;
    margin-right: 20px;
    font-weight: 700;
    color: #003318;
    letter-spacing: 0.5px;
}
/* ==========================================================================
Footer
========================================================================== */
footer {
  background-color: #031b0e;
  position: relative; }
  footer p {
    color: #ACB1B4;
    font-size: 13px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #FF5274; }
  footer ul.footer-group {
    border-top: solid 1px #4E566C;
    padding-top: 25px;
    margin-bottom: 45px; }
  footer ul.footer-group li {
    display: inline-block; }
  footer ul.footer-group li a {
    font-size: 13px;
    text-transform: uppercase; }
  footer ul.footer-group li a:hover {
    color: #FF5274; }
  footer ul.footer-group li {
    margin-right: 30px; }
  footer ul.footer-group li:last-child {
    margin-right: 0; }
  footer span.fa-heart {
    color: #ff415c;
    font-size: 15px;
    margin: 0 2px; }
  footer .social-share {
    position: absolute;
    background-color:#031b0e;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 142px 0 0 70px; }
    footer .social-share p {
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 10px; }
    footer .social-share a.twitter-share {
      height: 60px;
      width: 60px;
      background-color: #1AB4EF;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;padding-top: 15px; }
    footer .social-share a.twitter-share:hover, footer .social-share a.twitter-share:focus {
      background-color: #1590BF; }
    footer .social-share a.facebook-share:hover, footer .social-share a.facebook-share:focus {
      background-color: #324C85; }
    footer .social-share a.facebook-share {
      height: 60px;
      width: 60px;
      background-color: #3B5898;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center; margin-right: 20px;padding-top: 15px; }
      footer .social-share a.instagram-share {
      height: 60px;
      width: 60px;
        background-color: #ff4473;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;padding-top: 15px; }
      footer .social-share a.instagram-share:hover, footer .social-share a.instagram-share:focus {
          background-color: #b22045; }
    footer .social-share a {
      color: #fff; }
    footer .social-share a:hover {
      color: #fff; }
    footer .social-share a i {
      margin-top: 20px; }
  footer .footer-links {
    margin: 120px 0 120px 0; }
